VITE_SUPABASE_URL=https://srylugaxuleeglxrwbob.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_FWiNCbd4xnKQs2WnHYBwtg_Xa0TO36n

# Gerar com: npx web-push generate-vapid-keys
VITE_VAPID_PUBLIC_KEY=BGaNGkpsLYF-Zft0VMLg5MJRXzpHNEqB9l5j8u9aZqj511KhhmNbewkRdtHD01a8tTaJ0IGiQ4OuQLPJuKLUv_o





